
.main-box{
    background-color: rgb(226, 224, 240);
    height: 700%;
    width: 100%;
    left: 0%;
    top: 0%;
    position: absolute;
    
}
.fst-box{
    height: 1.5%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-position: center;
    position: absolute;
    left: 0%;
    top: 0%;
    border-radius: 1%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;

}
.fa-brands .i{
    left: 10%;
    font-size: xx-large;
    color: rgb(10, 10, 17);
    position: absolute;
    padding: 20px;
    top: 5%;
}
.fa-pied-piper{
    left: 14%;
    font-size: xx-large;
    color: rgb(7, 0, 102);
    position: absolute;
    padding: 20px;
    top: 5%;
}
.fa-hand-holding-dollar{
    font-size: 500%;
    color: rgb(5, 0, 82);
    padding: 40px;
    left: 25%;
    top: 5%;
    position: relative;
}
.fa-signal{
    font-size: 500%;
    color: rgb(5, 0, 82);
    padding: 40px;
    left: 25%;
    top: 5%;
    position: relative;
}
.fa-money-check-dollar{
    font-size: 500%;
    color: rgb(5, 0, 82);
    padding: 40px;
    left: 25%;
    top: 5%;
    position: relative;
}
.fa-facebook-f{
    font-size: 200%;
    color: rgb(5, 0, 82);
    padding: 40px;
    left: 50%;
    top: 20%;
    position: absolute;
}
.fa-twitter{
    font-size: 200%;
    color: rgb(5, 0, 82);
    padding: 40px;
    left: 60%;
    top: 20%;
    position: absolute;
}
.fa-instagram-square{
    font-size: 200%;
    color: rgb(5, 0, 82);
    padding: 40px;
    left: 70%;
    top: 20%;
    position: absolute;
}
.fa-youtube{
    font-size: 200%;
    color: rgb(5, 0, 82);
    padding: 40px;
    left: 80%;
    top: 20%;
    position: absolute;
}

.logo-nm{
    
    position: absolute;
    color: rgb(7, 0, 102);
    font-size: 150%;
    left: 20%;
    
    
}
.nav-bar {
   
    /* float: center; */
    text-align: center;
    background-color: none;
    padding: 32px;
    display: block;
    
}
.bar{
    color: black;
    text-decoration: underline;
    margin: 3%;
    left: 0%;
    padding-left: 0%;
    position: relative;
    font-size: 130%;
    

}
.lg{
    top: 2%;
    left: 10%;
    width: 25%;
    height: 60%;
    position: absolute;
    background-color: transparent;

}
.butt{
    border-radius: 6px;
    background-color: rgb(7, 0, 112);
    height: 35px;
    position: absolute;
    align-self: center;
    left: 80%;
    top: 15px;
    color: white;
}
.sec-box{
    height: 18%;
    width: 100%;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(185, 182, 223), rgb(255, 255, 255));
    background-position: center;
    position: absolute;
    left: 0%;
    top: 1.3%;
    border-radius: 0%;

}
.hd-tx{
    text-align: center;
    color: rgb(4, 4, 85);
    top: 3%;
    position: relative;
    font-size: 220%;
    font-family: Arial, Helvetica, sans-serif;
}
.blue{
    color: rgb(21, 128, 228);
}
.hd-tx1{
    text-align: center;
    top: 3%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 500;
}
.butt1{
    border-radius: 9px;
    background-color: rgb(10, 3, 104);
    height: 5%;
    width: 10%;
    
    position: absolute;
    align-self: center;
    left: 45%;
    top: 39%;
    color: white;
}


.img-1{
    top: 50%;
    left: 10%;
    width: 80%;
    height: 50%;
    position: absolute;

}
.hd-tx2{
    text-align: center;
    top: 20%;
    left: 0%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vmin;
    font-weight: bolder;
}
.hd-tx3{
    text-align: center;
    top: 20%;
    left: 0%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    font-weight: 100;
}
.thr-box{
    height: 9%;
    width: 25%;
    background-color: white;
    background-position: center;
    position: absolute;
    left: 8%;
    top: 26%;
    border-radius: 15px;

}
.thr-box1{
    height: 9%;
    width: 25%;
    background-color: white;
    background-position: center;
    position: absolute;
    left: 38%;
    top: 26%;
    border-radius: 15px;

}
.thr-box2{
    height: 9%;
    width: 25%;
    background-color: white;
    background-position: center;
    position: absolute;
    left: 68%;
    top: 26%;
    border-radius: 15px;

}
.inner-tx{
    text-align: center;
    top: 45%;
    left: 10%;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%;
    font-weight: bold;
}
.inner-tx1{
    text-align: center;
    top: 45%;
    left: 10%;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%;
    font-weight: bolder;
}
.inner-tx2{
    text-align: center;
    top: 45%;
    left: 10%;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%;
    font-weight: bold;
}
.inner-tx3{
    left: 10%;
    position: absolute;
    top: 60%;
    font-weight: 100;
    font-size: 120%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.hd-tx4{
    text-align: center;
    color: rgb(0, 0, 0);
    left: 0%;
    top: 33%;
    position: relative;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
}
.frth-box{
    height: 10%;
    width: 70%;
    background-color: rgb(203, 205, 230);
    background-position: center;
    position: absolute;
    left: 15%;
    top: 41%;
    border-radius: 15px;

}
.img-5{
    top: 13%;
    left: 8%;
    width: 45%;
    height: 75%;
    position: absolute;
    border-radius: 20px;

}
.hd-tx5{
    color: black;
    top: 25%;
    left: 60%;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%;
    font-weight: bold;
}
.inner-tx4{
    left: 60%;
    position: absolute;
    top: 50%;
    font-weight: 100;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.fif-box{
    height: 10%;
    width: 70%;
    background-color: rgb(203, 205, 230);
    background-position: center;
    position: absolute;
    left: 15%;
    top: 53%;
    border-radius: 15px;

}
/* .inner-bx{
    height: 70%;
    width: 40%;
    background-color: white;
    background-position: center;
    position: absolute;
    left: 55%;
    top: 15%;
    border-radius: 15px;

} */
.img-6{
    top: 4%;
    left: 50%;
    width: 50%;
    height: 80%;
    position: absolute;
    border-radius: 0px;
    
}
.hd-tx6{
    
    
    top: 25%;
    left: 10%;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%;
    font-weight: bold;
}
.inner-tx5{
    left: 10%;
    position: absolute;
    top: 54%;
    font-weight: 100;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.eight-box{
    height: 18%;
    width: 100%;
    background-color: rgb(223, 217, 240);
    background-position: center;
    position: relative;
    left: 0%;
    top: 57%;
    border-radius: 1%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    display: flexbox;

}
.hd-tx7{
    text-align: center;
    top: 2%;
    left: 0%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 210%;
    font-weight: bolder;
}
.img6{
    top: 6%;
    left: 15%;
    width: 40%;
    height: 80%;
    position: relative;
    border-radius: 18px;
}
.inner-tx8{
    text-align: center;
    top: 17%;
    left: 65%;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 130%;
    font-weight: bold;
}
.inner-tx9{
    top: 36%;
    left: 65%;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 130%;
    font-weight: bold;
}
.inner-tx10{
    text-align: center;
    top: 57%;
    left: 65%;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 130%;
    font-weight: bold;
}
.inner-tx11{
    left: 65%;
    position: absolute;
    top: 25%;
    font-weight: 100;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.inner-tx12{
    left: 65%;
    position: absolute;
    top: 45%;
    font-weight: 100;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.inner-tx13{
    left: 65%;
    position: absolute;
    top: 68%;
    font-weight: 100;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.six-box{
    height: 10%;
    width: 80%;
    background-color: rgb(10, 119, 74);
    background-position: center;
    position: absolute;
    left: 10%;
    top: 83%;
    border-radius: 20px;

}
.hd-tx8{
    color: white;
    text-align: center;
    top: 3%;
    /* left: 30%; */
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 210%;
    font-weight: bolder;
}
.inner-tx14{
    /* left: 60%; */
    color: white;
    text-align: center;
    position: relative;
    top: 10%;
    font-weight: 100;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.butt-2{
    border-radius: 9px;
    background-color: rgb(10, 3, 104);
    height: 12%;
    width: 10%;
    position: absolute;
    align-self: center;
    left: 45%;
    top: 75%;
    color: white;
}
.svt-box{
    height: 5%;
    width: 100%;
    background-color: white;
    background-position: center;
    position: absolute;
    left: 0%;
    top: 97%;
    border-radius: 1%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;

}
.logo-2{
    position: relative;
    color: rgb(7, 0, 102);
    font-size: 200%;
    padding-left: 18%;
    top: 0px;
}
.inner-tx15{
    left: 15.5%;
    color: black;
  
    position: absolute;
    top: 25%;
    font-weight: 100;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.hr-1{
    left: 13%;
    width: 75%;
    position: absolute;
    top: 60%;
    
}






/* responsiveness */

@media only screen and (max-width: 850px){
    .main-box{
        background-color: rgb(231, 229, 241);
        height: 590%;
        width: 100%;
        left: 0%;
        top: 0%;
        display: flexbox;
        
    }
    
.logo-nm{
    font-size: xx-large;
    left: 22%;
    display: flexbox;
    
    
}
.nav-bar {
    position: relative;
    float: center;
    text-align: left;
    background-color: none;
    padding: 0px;
    display: block;
    top: 50%;
    display: flexbox;
    
}
.bar{
    color: black;
    text-decoration: underline;
    margin: 8%;
    padding-left: 0.5%;
    position: relative;
    font-size: 18px;
    left: 5%;
    display: flexbox;
    

}
.fst-box{
    height: 4.8%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-position: center;
    position: absolute;
    color: black;
    left: 0%;
    top: 0%;
    border-radius: 1%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    display: flexbox;

}
.sec-box{
    height: 12%;
    width: 100%;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(185, 182, 223), rgb(255, 255, 255));
    background-position: center;
    position: relative;
    left: 0%;
    top: 4.3%;
    border-radius: 0%;
    display: flexbox;

}
.butt{
    border-radius: 6px;
    background-color: rgb(248, 11, 3);
    height: 35px;
    /* position: absolute; */
    align-self: center;
    left: 14%;
    top: 75%;
    color: white;
    display: flexbox;
}

.hd-tx{
    text-align: center;
    top: 6%;
    /* position: relative; */
    font-size: 130%;
    display: flexbox;
}
.hd-tx1{
    text-align: center;
    top: 7%;
    /* position: relative; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 500;
    display: flexbox;
}
.butt1{
    display: flexbox;
    background-color: rgb(27, 255, 6);
    height: 7%;
    width: 30%;
    /* position: absolute; */
    align-self: center;
    left: 37%;
    top: 48%;
}

.img-1{
    top: 60%;
    left: 10%;
    width: 80%;
    height: 40%;
    /* position: absolute; */
    display: flexbox;

}
.hd-tx2{
    text-align: center;
    top: 4.5%;
    left: 0%;
    /* position: relative; */
    font-size: 15px;
    display: flexbox;
}
.hd-tx3{
    text-align: center;
    top: 4.3%;
    left: 0%;
    /* position: relative; */
    font-size: 13px;
    display: flexbox;
}
.thr-box{
    height: 6%;
    width: 80%;
    background-color: white;
    background-position: center;
    position: relative;
    left: 9%;
    top: 4.6%;
    border-radius: 15px;
    display: flexbox;

}
.thr-box1{
    height: 6%;
    width: 80%;
    background-color: white;
    background-position: center;
    position: relative;
    left: 9%;
    top: 4.3%;
    border-radius: 15px;
    display: flexbox;

}
.thr-box2{
    height: 6%;
    width: 80%;
    background-color: white;
    background-position: center;
    position: relative;
    left: 9%;
    top: 4%;
    border-radius: 15px;
    display: flexbox;

}

.hd-tx4{
    text-align: center;
    left: 0%;
    top: 4.5%;
    /* position: relative; */
    font-size: 85%;
    display: flexbox;
}
.frth-box{
    height: 8%;
    width: 80%;
    background-color: rgb(203, 205, 230);
    background-position: center;
    position: relative;
    left: 10%;
    top: 5%;
    border-radius: 15px;
    display: flexbox;

}
.img-5{
    top: 13%;
    left: 8%;
    width: 45%;
    height: 75%;
    /* position: relative; */
    border-radius: 20px;
    display: flexbox;

}
.hd-tx5{
    color: black;
    top: 5%;
    left: 60%;
    /* position: absolute; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    font-weight: bold;
    display: flexbox;
}
.inner-tx4{
    display: flexbox;
    left: 60%;
    /* position: absolute; */
    top: 35%;
    font-weight: 100;
    font-size: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.inner-tx{
    display: flexbox;
    text-align: center;
    top: 55%;
    left: 0%;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%;
    font-weight: bold;
}

.inner-tx1{
    display: flexbox;
    text-align: center;
    top: 55%;
    left: 0%;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%;
    font-weight: bolder;
}
.inner-tx2{
    display: flexbox;
    text-align: center;
    top: 55%;
    left: 0%;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%;
    font-weight: bold;
}
.inner-tx3{
    display: flexbox;
    text-align: center;
    left: 0%;
    position: relative;
    top: 50%;
    font-weight: 100;
    font-size: 120%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.fif-box{
    display: flexbox;
    height: 8%;
    width: 80%;
    background-color: rgb(203, 205, 230);
    background-position: center;
    position: relative;
    left: 10%;
    top: 5.5%;
    border-radius: 15px;

}
.img-6{
    display: flexbox;
    top: 5%;
    left: 0%;
    width: 70%;
    height: 80%;
    position: absolute;
    
}
.hd-tx6{
    display: flexbox;
    top: 5%;
    left: 50%;
    /* position: absolute; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    font-weight: bold;
}
.inner-tx5{
    display: flexbox;
    left: 62%;
    /* position: absolute; */
    top: 25%;
    font-weight: 100;
    font-size: 90%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.eight-box{
    height: 15%;
    width: 100%;
    background-color: rgb(197, 185, 228);
    background-position: center;
    position: relative;
    left: 0%;
    top: 6%;
    border-radius: 1%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    display: flexbox;

}
.hd-tx7{
    display: flexbox;
    top: 6%;
    left: 0%;
    /* position: relative; */
    font-size: 130%;
}
.img6{
    top: 15%;
    left: 10%;
    width: 50%;
    height: 70%;
    /* position: relative; */
    border-radius: 18px;
    display: flexbox;
}
.inner-tx8{
    text-align: center;
    top: 15%;
    left: 65.7%;
    /* position: relative auto; */
    font-size: 100%;
    display: flexbox;
}
.inner-tx9{
    /* text-align: center; */
    top: 33%;
    left: 66%;
    /* position: relative auto; */
    font-size: 100%;
    font-weight: bold;
    display: flexbox;
}
.inner-tx10{
    top: 57%;
    left: 66%;
    /* position: relative auto; */
    font-size: 100%;
    font-weight: bold;
    display: flexbox;
}

.inner-tx11{
    left: 66%;
    /* position: absolute; */
    top: 19%;
    font-weight: 100;
    font-size: 80%;
    display: flexbox;
}
.inner-tx12{
    left: 66%;
    /* position: absolute; */
    top: 42%;
    font-weight: 100;
    font-size: 80%;
    display: flexbox;
}
.inner-tx13{
    left: 66%;
    /* position: absolute; */
    top: 67.7%;
    font-weight: 100;
    font-size: 80%;
    display: flexbox;
}

.six-box{
    height: 11%;
    width: 80%;
    background-color: rgb(10, 119, 74);
    background-position: center;
    position: relative;
    left: 10%;
    top: 8%;
    border-radius: 20px;
    display: flexbox;

}
.hd-tx8{
    color: white;
    text-align: center;
    top: 10%;
    /* position: relative; */
    font-size: 170%;
    display: flexbox;
}
.inner-tx14{
    left: 0%;
    color: white;
    text-align: center;
    /* position: relative; */
    top: 10%;
    font-weight: 100;
    font-size: 100%;
    display: flexbox;
    
}
.butt-2{
    border-radius: 9px;
    background-color: rgb(0, 255, 0);
    height: 12%;
    width: 40%;
    /* position: relative; */
    align-self: center;
    left: 30%;
    top: 73%;
    color: white;
    display: flexbox;
}

.svt-box{
    height: 9%;
    width: 100%;
    background-color: rgb(31, 29, 36);
    background-position: center;
    position: relative;
    left: 0%;
    top: 9.7%;
    border-radius: 1%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    display: flexbox;

}
.inner-tx15{
    left: 15%;
    color: rgb(255, 255, 255);
  
    position: absolute;
    top: 40%;
    font-weight: 100;
    font-size: 100%;
    display: flexbox;
}
.hr-1{
    left: 13%;
    width: 75%;
    position: absolute;
    top: 60%;
    display: flexbox;
    
}
.logo-2{
    display: flexbox;
    position: relative;
    color: rgb(7, 0, 102);
    font-size: 250%;
    padding-left: 22%;
    top: 65px;
}
.fa-pied-piper{
    left: 10%;
    font-size: xx-large;
    color: rgb(7, 0, 102);
    position: absolute;
    padding: 20px;
    top: 15%;
    display: flexbox;
}
.fa-hand-holding-dollar{
    font-size: 500%;
    color: rgb(5, 0, 82);
    padding: 40px;
    left: 30%;
    top: 0%;
    position: absolute;
    display: flexbox;
}
.fa-signal{
    display: flexbox;
    font-size: 500%;
    color: rgb(5, 0, 82);
    padding: 40px;
    left: 30%;
    top: 0%;
    position: absolute;
}
.fa-money-check-dollar{
    font-size: 500%;
    color: rgb(5, 0, 82);
    padding: 40px;
    left: 30%;
    top: 0%;
    position: absolute;
    display: flexbox;
}
.fa-facebook-f{
    font-size: 200%;
    color: rgb(5, 0, 82);
    padding: 40px;
    left: 40%;
    top: 25%;
    position: absolute;
    display: flexbox;
}
.fa-twitter{
    font-size: 200%;
    color: rgb(5, 0, 82);
    padding: 40px;
    left: 49%;
    top: 25%;
    position: absolute;
    display: flexbox;
}
.fa-instagram-square{
    font-size: 200%;
    color: rgb(5, 0, 82);
    padding: 40px;
    left: 62%;
    top: 25%;
    position: absolute;
    display: flexbox;
}
.fa-youtube{
    font-size: 200%;
    color: rgb(5, 0, 82);
    padding: 40px;
    left: 74%;
    top: 25%;
    position: absolute;
    display: flexbox;
}

}